body {
  background-color: black;
  color: whitesmoke;

  display: grid;
  grid-template-areas:
    "header"
    "filters"
    "main"
    "foot";
  min-height: 100vh;
}

header {
  grid-area: header;
  padding: 10px;
  border: 1px solid red;
}

aside.filters {
  grid-area: filters;
  padding: 10px;
  border: 1px solid red;
}

main.products {
  grid-area: main;
  border: 1px solid red;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-img img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.card-content {
  padding: 10px;
}

footer {
  grid-area: foot;
  padding: 10px;
  border: 1px solid red;
}

@media (min-width: 576px) {
  body {
    grid-template-areas:
      "header header header"
      "filters main main"
      "foot foot foot";
  }
  main.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  .card {
    flex-direction: column;
  }
}
